.lineBarCard {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.lineBarCard .left {
  height: 100%;
  width: 71%;
}

.lineBarCard .right {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25%;
}

.lineBarCard .right .radioGroup {
  width: 80%;
}

.lineBarCard .right .card {
  max-width: 100%;
  max-height: 100%;
  width: 80%;
  height: 75%;
}

.cardCCA {
  height: 67%;
  width: 50%;
}

.cardCCA :global(.cardWithoutFooter .content .value) {
  font-size: 2.6rem;
}