.lineBar {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.lineBar .left {
  height: 100%;
  width: 71%;
}

.lineBar .right {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
}

.lineBar .right :global(.cardWithFooter) {
  height: 70%;
}

.customCard {
  height: 67%;
  width: 50%;
}

.customCard :global(.cardWithoutFooter .content .value) {
  font-size: 2.6rem;
}