.cardWithFooter {
  background-color: var(--color-10-blue);
  border: 1px solid var(--color-idle);
  border-radius: 2px;
  color: var(--color-nordson-blue);
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.header {
  height: 25%;
  padding: 0.5rem;
  width: 100%;
}

.content {
  align-items: center;
  display: flex;
  height: 40%;
  justify-content: center;
  width: 100%;
}

.footer {
  color: var(--color-slate);
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  height: 35%;
  padding: 0.5rem;
  width: 100%;
}

.cardWithFooter:hover {
  background-color: var(--color-gypsum);
}

.header svg {
  height: 100%;
}

.content .wrapper {
  align-items: baseline;
  display: flex;
}

.content .value {
  font-size: 2.4rem;
}

.content .units {
  font-size: 1.2rem;
}

.footer .label, .footer .value {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer span {
  max-height: 100%;
  max-width: 100%;
}

.bold {
  font-weight: bold;
}