.colorChange {
  height: 100%;
  width: 100%;
  padding: 0.5rem;
}

.left {
  height: 100%;
  width: 66.67%;
}

.left .top {
  height: 50%;
  padding-bottom: 0.5rem;
  padding-right: 0.25rem;
}

.left .bottom {
  height: 50%;
  height: 50%;
  padding-right: 0.25rem;
}

.left :global(.titleBox) {
  height: 10%;
}

.left :global(.controlBox) {
  height: 16.67%;
  width: 50%;
}

.left :global(.graphBox) {
  height: 73.33%;
}

.left :global(.titleBox) :global(.wc) {
  width: 8%;
}

.left :global(.titleBox) :global(.wd) {
  width: 92%;
}

.right {
  height: 100%;
  width: 33.33%;
}

.right>.top {
  height: 50%;
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
}

.right>.bottom {
  height: 50%;
  padding-left: 0.25rem;
}

.right :global(.titleBox) {
  height: 10%;
}

.right :global(.controlBox) {
  height: 16.67%;
}

.right :global(.graphBox) {
  height: 73.33%;
}

.right .top :global(.titleBox) :global(.wc) {
  width: 16%;
}

.right .top :global(.titleBox) :global(.wd) {
  width: 84%;
}