.cardBI {
  border: 1px solid var(--color-idle);
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.cardBI .titleBox {
  background-color: var(--color-midnight);
  display: flex;
  height: 13%;
  width: 100%;
}

.cardBI .titleBox .iconBox {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 15%;
}

/*
* Class used when icon in title bar is type .svg
*/

.cardBI .titleBox .iconBox svg {
  height: 50%;
  width: 100%;
}

/*
* Class used when icon in title bar is type .ico
*/

.cardBI .titleBox .iconBox img {
  height: 50%;
}

.cardBI .titleBox .title {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 1.3rem;
  font-weight: bold;
  height: 100%;
  width: 85%;
}

.cardBI .rowContainer {
  height: 87%;
  width: 100%;
  background-color: #fff;
}

.cardBI .rowContainer .row {
  display: flex;
  height: 33.33%;
}

.cardBI .rowContainer:hover {
  background-color: var(--color-light-blue);
}

.cardBI .row .iconBox {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 30%;
}

.cardBI .row .iconBox svg {
  height: 30%;
  width: 100%;
}

.cardBI .row .iconBox.multiIcon svg {
  width: 28%;
}

.cardBI .row .contentBox {
  align-items: center;
  color: var(--color-nordson-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 70%;
}

.cardBI .row .contentBox .description {
  text-align: end;
  font-size: 1.3rem;
  width: 80%;
}

.cardBI .row .contentBox .value {
  text-align: end;
  font-size: 2rem;
  font-weight: bold;
  width: 80%;
}

@media only screen and (max-width:900px) {
  .cardBI .row .contentBox .description, .cardBI .row .contentBox .value, .cardBI .titleBox .title {
    font-size: 0.8rem;
  }
}