.freshPowder {
  height: 100%;
  width: 100%;
  padding: 0.5rem;
}

/*
* Target elements: All elements contained in top row
*/

.top {
  display: flex;
  height: 50%;
  padding-bottom: 0.5rem;
}

.top .trendBox {
  width: 66.67%;
  height: 100%;
  padding-right: 0.25rem;
}

.top .deckBox {
  width: 33.33%;
  height: 100%;
  padding-left: 0.25rem;
}

/*
* Target elements: All elements contained in bottom row
*/

.bottom {
  display: flex;
  height: 50%;
}

.bottom .trendBox {
  height: 100%;
  width: 33.33%;
  padding-right: 0.5rem;
}

.bottom .deckBox {
  height: 100%;
  width: 16.6%;
}

/*
* Set height for main elements in "graphContainer":
* 1. Title box:
* 2. Control box:
* 3. Graph box: 
*/

.freshPowder :global(.graphContainer .titleBox) {
  height: 10%;
}

.freshPowder :global(.graphContainer .controlBox) {
  height: 16.67%;
}

.freshPowder :global(.graphContainer .graphBox) {
  height: 73.33%;
}

.freshPowder .bottom .deckBox :global(.graphContainer .graphBox) {
  height: 90%;
}

/*
* Target element: Total fresh powder trend
* Width: 66%
* Title bar: Standard. Classes: wa, wb
* Control bar: Takes 50% of available space
*/

.freshPowder .top .trendBox :global(.graphContainer .controlBox) {
  width: 50%;
}

.freshPowder .top .trendBox :global(.graphContainer .titleBox .wa) {
  width: 4.5%;
}

.freshPowder .top .trendBox :global(.graphContainer .titleBox .wb) {
  width: 95.5%;
}

/*
* Target elements: Total fresh powder deck, Spectrum HD trend, Bigbag trend
* Width: 33%
* Title bar: Standard. Classes: wa, wb
*/

.freshPowder .top .deckBox :global(.graphContainer .titleBox .wa), .freshPowder .bottom .trendBox :global(.graphContainer .titleBox .wa) {
  width: 9%;
}

.freshPowder .top .deckBox :global(.graphContainer .titleBox .wb), .freshPowder .bottom .trendBox :global(.graphContainer .titleBox .wb) {
  width: 91%;
}

/*
* Target elements: Spectrum HD deck, Bigbag deck
* Width: 16.6%
* Title bar: Standard. Classes: wa, wb
*/

.freshPowder .bottom .deckBox :global(.graphContainer .titleBox .wa) {
  width: 18%;
}

.freshPowder .bottom .deckBox :global(.graphContainer .titleBox .wb) {
  width: 82%;
}

/*
* Target element: Bigbag trend
* Width: 33%
* Title bar: Title bar with dropdown. Classes: wx, wy, wz
*/

.freshPowder .bottom .trendBox :global(.graphContainer .titleBox .wx) {
  width: 9%;
}

.freshPowder .bottom .trendBox :global(.graphContainer .titleBox .wy) {
  width: 61%;
}

.freshPowder .bottom .trendBox :global(.graphContainer .titleBox .wz) {
  width: 30%;
}

/*
* General purpose
*/

.prx {
  padding-left: 0.5rem;
}