.app {
  background-color: lightcoral;
  height: 100%;
}

.header {
  background-color: lawngreen;
  height: 7%;
}

.main {
  background-color: lightcoral;
  display: flex;
  height: 92%;
}

.sideBar {
  background-color: black;
  height: 100%;
  width: 15%;
}

.screen {
  background-color: blue;
  height: 100%;
  width: 85%;
}

.footer {
  background-color: #0071be;
  height: 1%;
  margin: 0;
  padding: 0;
}