.header {
  background-color: #0071be;
  height: 7%;
}

.main {
  display: flex;
  height: 92%;
}

.sideBar {
  background-color: #fff;
  height: 100%;
  width: 17%;
}

.screen {
  background-color: #f5f8fa;
  display: flex;
  height: 100%;
  width: 83%;
}

.footer {
  background-color: #0071be;
  height: 1%;
  margin: 0;
  padding: 0;
}