.header {
  background-color: var(--color-nordson-blue);
  height: 7%;
}

.main {
  display: flex;
  height: 92%;
}

.sideBar {
  background-color: #fff;
  height: 100%;
  width: 17%;
}

.screen {
  background-color: var(--color-gypsum);
  display: flex;
  height: 100%;
  width: 83%;
}

.footer {
  background-color: var(--color-nordson-blue);
  height: 1%;
  margin: 0;
  padding: 0;
}