.controlButton {
  align-items: center;
  display: flex;
  cursor: pointer;
  height: 75%;
  justify-content: center;
  width: 100%;
  border: 1px solid #c2c7cb;
  border-radius: 5px;
}

.controlButton svg{
  height: 75%;
}