/*** Batch overview ***/
.batchOverview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 2rem;
}

.batchOverview .batchTable {
  height: 100%;
  width: 100%;
}

.batchOverview .titleBarBox {
  height: 7%;
  width: 100%;
}

.batchOverview .tableBox {
  height: 93%;
  width: 100%;
  padding: 0.75rem 0.5rem;
}

.batchOverview .titleBarBox :global(.titleBar) {
  width: 50%;
}

.batchOverview .titleBarBox :global(.titleBar .wa) {
  width: 10%;
}

.batchOverview .titleBarBox :global(.titleBar .wb) {
  width: 90%;
}

.batchOverview .titleBarBox :global(.titleBar .textFormat) {
  font-size: 1.5rem;
}

.batchOverview :global(.MuiDataGrid-root .MuiDataGrid-cellRight), .batchOverview :global(.MuiDataGrid-root .MuiDataGrid-cellLeft) {
  text-align: center;
}

/*** Batch details ***/
.batchDetails {
  height: 100%;
  padding: 0.5rem;
  width: 100%;
}

.batchDetails .left {
  height: 100%;
  width: 25%;
  padding-right: 0.25rem;
}

.batchDetails .left :global(.cardBI .titleBox) {
  height: 6.5%;
}

.batchDetails .left :global(.cardBI .rowContainer) {
  height: 93.5%;
  overflow: auto;
}

.batchDetails .left :global(.cardBI .row) {
  height: 16.65%;
}

.batchDetails .right {
  height: 100%;
  width: 75%;
  padding-left: 0.25rem;
}

.batchDetails .right :global(.cardBI) {
  width: 32.9%;
}

.batchDetails .right .top {
  display: flex;
  height: 50%;
  justify-content: space-between;
  padding-bottom: 0.25rem;
}

.batchDetails .right .bottom {
  display: flex;
  height: 50%;
  justify-content: space-between;
  padding-top: 0.25rem;
}