.airPressure {
  height: 100%;
  width: 100%;
  padding: 0.5rem;
}

.left {
  height: 100%;
  width: 60%;
}

.left .top {
  height: 50%;
  padding-bottom: 0.5rem;
  padding-right: 0.25rem;
}

.left .bottom {
  height: 50%;
  height: 50%;
  padding-right: 0.25rem;
}

.left :global(.titleBox) {
  height: 10%;
}

.left :global(.controlBox) {
  height: 16.67%;
  width: 66.67%;
}

.left :global(.graphBox) {
  height: 73.33%;
}

.left :global(.titleBox) :global(.wx) {
  width: 5%;
}

.left :global(.titleBox) :global(.wy) {
  width: 76.3%;
}

.left :global(.titleBox) :global(.wz) {
  width: 18.7%;
}

.right {
  height: 100%;
  width: 40%;
}

.right .top {
  height: 50%;
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
}

.right .bottom {
  height: 50%;
  height: 50%;
  padding-left: 0.25rem;
}

.right :global(.titleBox) {
  height: 10%;
}

.right :global(.controlBox) {
  height: 16.67%;
}

.right :global(.graphBox) {
  height: 73.33%;
}

.right :global(.titleBox) :global(.wx) {
  width: 7.5%;
}

.right :global(.titleBox) :global(.wy) {
  width: 64.5%;
}

.right :global(.titleBox) :global(.wz) {
  width: 28%;
}

.right :global(.deck) {
  height: 75%;
}

.right :global(.deck .cardBox) {
  width: 31.3%;
}

.right :global(.deck .cardWithoutFooter) {
  background-color: #fff;
}

.right :global(.deck .cardWithoutFooter .header) {
  height: 25%;
}

.right :global(.deck .cardWithoutFooter .content) {
  height: 75%;
}