.h50 {
  height: 50%;
}

.h100 {
  height: 100%;
}

.textFormat {
  color: #fff;
  cursor: pointer;
  display: flex !important;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.09px;
  justify-content: center;
}

.alignBottom {
  align-self: flex-end;
}

.alignTop {
  align-self: flex-start;
}

@media only screen and (max-width:900px) {
  .textFormat {
    font-size: 0.8rem;
  }
}