.dataTable.MuiDataGrid-root {
  color: #777777;
  cursor: pointer;
  font-size: 1.3rem;
  background-color: #fff;
  border: 1px solid var(--color-light-gray);
}

.dataTable.MuiDataGrid-root .MuiDataGrid-columnsContainer {
  background-color: var(--color-midnight);
  background-color: var(--color-denim);
  color: #fff;
  font-weight: bold;
}

.dataTable.MuiDataGrid-root .MuiDataGrid-row {
  width: 100%;
}

.dataTable.MuiDataGrid-root .MuiDataGrid-row:hover {
  background-color: var(--color-gypsum);
}

.dataTable.MuiDataGrid-root .rendering-zone {
  width: 100% !important;
}

.dataTable.MuiDataGrid-root .MuiDataGrid-colCellTitle {
  font-weight: bold;
}

.dataTable.MuiDataGrid-root .MuiTypography-body2 {
  color: #777777;
  font-size: 1rem;
}

.dataTable.MuiDataGrid-root .MuiTypography-body2 {
  color: #777777;
  font-size: 1rem;
}

.dataTable.MuiDataGrid-root .MuiDataGrid-selectedRowCount {
  font-size: 1rem;
}

.dataTable.MuiDataGrid-root .MuiDataGrid-cellLeft {
  min-width: 50% !important;
}

.dataTable.MuiDataGrid-root .MuiDataGrid-colCellSortable {
  min-width: 50% !important;
}

.dataTable.MuiDataGrid-root .MuiDataGrid-cellRight {
  min-width: 50% !important;
  text-align: start;
}

.dataTable.MuiDataGrid-root .MuiDataGrid-colCellRight .MuiDataGrid-colCellTitleContainer {
  justify-content: start;
}

.dataTable.MuiDataGrid-root .MuiDataGrid-colCellTitleContainer {}